<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li
    		</ul>
		</nav>
		<div class="container">
    {{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
			<h3>Click to get in touch with Suveen</h3>
        		<li><a href="mailto:sreddy10@hawk.iit.edu">email</a></li>
        		<li><a href="https://github.com/suveenmekala">github.com/suveenmekala</a></li>
			<li><a href="https://linkedin.com/in/suveenmekala">linkedin.com/in/suveenmekala</a></li>
			</ul>
		</footer>
	</body>
</html>
